p{
	font: bold 16px verdana;
	margin: 4px 0 4px 0;
}
a{
	color: gray;
	font: bold 14px verdana;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
strong{
	font-weight: bold;
}
h1, h2, h3, h4{
	font-family: Georgia, Times, serif;
	

}
h1{
	font-size: 36px;
	line-height: 44px;
	color: #2196F3;
}
h4{
	color: #2196F3;

}
#cabecera{
	display: block;
}
#cabecera ul{
	float: right;
	margin: 15px 0 0 25px;
}
#cabecera li{
	float: left;
	font-weight: bold;
}
#cabecera li+li{
	border-left: 1px solid #717171;
	margin-left: 8px;
	padding-left: : 8px;
}
#logo{
	
	height: 100px;
	border-radius: 10px;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;

}
#cabeza{
	color: #2196F3;
	
}
.navbar-inverse {
    background-color: #899092;
    border-color: #899092;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: #899092;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: white;
}

.panel-default{
	z-index: -1;
	/*padding: 6px;
	margin: 25px;*/
	border-color: transparent;
	background: #fff;
}
.panel{
	border-color: transparent;
	border: solid 0px ;
}
.panel-body{
	
	background: white;
	padding: 0px;
}
.dropdown-menu{
	background-color: #222222;
}
#nav{
	margin: 4px;
	padding: 2px;
}
#foto{
	width: 50%;
	padding: 3px;
	margin: 4px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.c{
	float: left;
}
#fode{
	width: 10%;
}
#pie{
	color: white;
	text-align: center;
	background: #D2D3D4 ;
	border-radius: 3px;
	border:solid 1px #D2D3D4;
	margin: 15px;
	padding: 6px;
}